@page
@model NDDC_MRMS_Labs.Pages.RegistrationModel
@{
    Layout = "_HomeLayout";
}
<section class="section pb-0 hero-section" id="hero">
    <div class="bg-overlay bg-overlay-pattern"></div>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="bg-soft-primary position-relative">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <h3 class="fw-semibold">New Laboratory Registration</h3>
                                <p class="mb-0 text-muted">New Laboratory Registration</p>
                            </div>
                        </div>
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none" viewBox="0 0 1440 60">
                                <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none">
                                    <path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-card-bg-custom);"></path>
                                </g>
                                <defs>
                                    <mask id="SvgjsMask1001">
                                        <rect width="1440" height="60" fill="#ffffff"></rect>
                                    </mask>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    @*<div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">New Department</h4>
                                    </div>*@<!-- end card header -->
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success icon-dual-success icon-xs"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5>Laboratory Info</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4"></div>
                                            <hr />
                                            <div class="col-md-12 mt-4"></div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label  class="form-label">Name of Laboratory</label>
                                                </div>

                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.LabName" class="form-control"  placeholder="Enter Lab Name">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.LabName"></span>
                                                </div>
                                            </div>


                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label  class="form-label">Registration No</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.RegistrationNo" class="form-control" placeholder="Enter Registration No" >
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label for="firstNameinput" class="form-label">Laboratory Type</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <select asp-for="@Model.Laboratory.LabType" id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                                                        <option selected="">Choose...</option>
                                                        <option>General</option>
                                                        <option>Specialist</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            

                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success icon-dual-success icon-xs"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5>Laboratory Address</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4"></div>
                                            <hr />
                                            <div class="col-md-12 mt-4"></div>

                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Street & No</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.Street" class="form-control" placeholder="Enter Street Name and Number">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.Street"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label for="firstNameinput" class="form-label">State</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    @*<select asp-for="@Model.Laboratory.State" id="ForminputState" placeholder="Select" class="form-select" data-choices="" data-choices-sorting="true">
                                                        <option></option>
                                                        <option>Abia</option>
                                                        <option>Akwa Ibom</option>
                                                        <option>Bayelsa</option>
                                                        <option>Cross Rivers</option>
                                                    </select>*@
                                                    <select class="form-select" asp-for="@Model.Laboratory.State" asp-items="@(new SelectList(Model.States, "StateName", "StateName"))">
                                                        <option selected=""></option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.State"></span>
                                                </div>
                                                
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">City</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.City" class="form-control" placeholder="Enter City">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.City"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Post Code</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.PostCode" class="form-control" placeholder="Enter Post Code">
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success icon-dual-success icon-xs"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5>Company Info</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4"></div>
                                            <hr />
                                            <div class="col-md-12 mt-4"></div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Company Phone</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.CompanyPhone" class="form-control" placeholder="Enter Phone">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.CompanyPhone"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Company Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.CompanyEmail" class="form-control" placeholder="Enter Email">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.CompanyEmail"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Company Web Address</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.CompanyUrl" class="form-control" placeholder="Enter Url">
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success icon-dual-success icon-xs"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5>Authorized Contact 1</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4"></div>
                                            <hr />
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Full Name</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactName1" class="form-control" placeholder="Enter Name">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.ContactName1"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Address</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactAddress1" class="form-control" placeholder="Enter Address">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.ContactAddress1"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Phone</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactPhone1" class="form-control" placeholder="Enter Phone">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.ContactPhone1"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactEmail1" class="form-control" placeholder="Enter Email">
                                                    <span class="text-danger" asp-validation-for="@Model.Laboratory.ContactEmail1"></span>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success icon-dual-success icon-xs"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5>Authorized Contact 2</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4"></div>
                                            <hr />
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Full Name</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactName2" class="form-control" placeholder="Enter Name">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Address</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactAddress2" class="form-control" placeholder="Enter Address">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Phone</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactPhone2" class="form-control" placeholder="Enter Phone">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-3">
                                                    <label class="form-label">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input asp-for="@Model.Laboratory.ContactEmail2" class="form-control" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>

                        @*<div class="text-end">
                            <a href="#!" class="btn btn-primary">Submit</a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script src="assets/libs/prismjs/prism.js"></script>
    <script src="assets/js/pages/form-wizard.init.js"></script>
}